<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.gms.dao.GameMapper">
    <select id="GameByName" resultType="com.example.gms.entity.game">
        select * from game where gameName like CONCAT('%',#{gameName},'%')
    </select>
</mapper>